html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.body{
    max-width: 1500px;
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
}